DATABASE_URL=postgresql://neondb_owner:npg_Uxq3nmJY4iHR@ep-bold-rain-a19vbfqe-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Gemini api
GEMINI_API_KEY=AIzaSyBOeEHn23CAPSpqXtSBMVRAPT7_TCi68UY

# Angelone api
ANGELONE_API_KEY=jOoWIZMN
ANGELONE_API_SECRET=e3b603e2-10d7-4efe-add2-3596c7bec857

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29oZXJlbnQtbGVvcGFyZC01My5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_paX4tlEZqDDHxGjBHFbNPto7nUNUaxyMZFjvCaspUf

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

UPSTASH_REDIS_REST_URL="https://possible-rat-42549.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AaY1AAIncDJlNGViNjUxZGEwMTU0N2M3YTNhNzJkODcxZGExMTZlOHAyNDI1NDk"
